/* You can add global styles to this file, and also import other style files */
body {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	background-color: #ccc;
	font-family: sans-serif;
}
.wrapper {
	width: 800px;
	height: 600px;
	background-color: #cdcdec;
	text-align: center;
	box-shadow: 0 0 15px #000;
	border-radius: 25px;
	overflow: hidden;
}
.wrapper h1 {
	width: 100%;
	font-size: 48px;
	margin: 15px auto;
}
.wrapper .sections {
	display: flex;
	justify-content: space-between;
	width: 100%;
	height: 500px;
	background-color: #cdcdec;
}
.wrapper .sections .section-left {
	width: 30%;
	margin: 10px;
	padding: 10px 20px;
}
.wrapper .sections .section-left select {
	width: 100%;
	padding: 5px 10px;
	font-size: 16px;
	text-align: left;
}
.wrapper .sections .section-right {
	width: 55%;
	margin: 10px;
	padding: 10px 20px;
}
.wrapper .sections .section-right .dog-img {
	width: 100%;
	height: 300px;
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
}
.wrapper .sections .section-right .dog-info {
	display: none;
}
.wrapper .sections .section-right .dog-info p {
	font-size: 20px;
}
.wrapper .sections .section-right .dog-info .wiki-link {
	font-size: 20px;
	color: black;
	transition: color, 0.3s;
	text-decoration: none;
	cursor: pointer;
}
.wrapper .sections .section-right .dog-info .wiki-link:hover {
	color: royalblue;
}
